@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", serif;
}
html,body{
  overflow-x: hidden;
}
.custumLogo {
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 25px !important;
}
/* gym class section  */
.gymClass{
margin-top: 150px;
padding-left: 120px;
padding-right: 150px;
}
.imgGymClassLeftside {
  background: url("https://images.unsplash.com/photo-1580261450046-d0a30080dc9b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGd5bXxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
}
.targetH3InterestIn {
  margin-top: 5px !important;
}


.styleImgTopLeftSection {

}

.memberDetailwrapper input[type=text]{
    width:100%;
    border: 1px solid grey;
}
.memberDetailwrapper input[type=text]:hover{
cursor:default;
border: 1px solid black;
}
.memberDetailwrapper p{
margin-bottom: 5px;
}

/* seconde section */
.container{
margin-top: 30px;

}
/* hold 3 pics and text in membership option */
.wrapperTypeMemebership{
position:relative;
margin-top: 50px;
}
.targeth2MembershipPlan{
  position:relative;

}

/* personal trainer section */
.mainBoxPersonalTrainer{

}
.personalSession{

}

/*warning memebership type green gols silver */
#chooseOneMembreshipTypeID{
margin-top: 50px;
text-align: center;
}
/* image on final price */
.imagePrice{
background-image: url('https://images.unsplash.com/photo-1550345332-09e3ac987658?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Z3ltfGVufDB8fDB8fHww');
background-size: cover;
height: 80vh;
}

table{

  width: 100%;
  margin-top: 20px;
}
/* ipad pro */
@media  screen and (max-width: 1024px) {
.imageSide img{
  height: 400px;
}
/* hold 3 pics and text in membership option */
.wrapperTypeMemebership{
  position:relative;
  left:0%;
  margin-top: 50px;
  }
.targetSection h2{
  left: 0;
}
/* gym class section-- peronalize visit- wrap  */
.gymClass{
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  }
  /* image on final price */
.imagePrice{
  height: 50vh;
  }
}
/* ipad medium air */
@media  screen and (max-width: 992px) {

}
/* ipad mini */
@media  screen and (max-width: 768px) {

}
/* phone */
@media  screen and (max-width: 600px) {
  .imageSide img{
    height: 300px;
  }
  .imgGymClassLeftside{
    height: 300px;
  }
  /*warning memebership type green gols silver */
#chooseOneMembreshipTypeID{
  margin-top: 10px;
  margin-bottom: -30px;
  text-align: center;
  }
  .imagePrice{
    height:350px;
    }
  }
